/* ==============================
   SETTING DEFAULT ELEMENT STYLES
   ==============================
*/
@font-face {
  font-family: 'Saturday Script';
  src: url("myfont.woff2") format("woff2"), url("myfont.woff") format("woff"); }

/* #AC944B color I'm trying out as moodboard border*/
/* #17779C color I'm using on blue font */
aside,
body,
div,
dl,
dt,
dd,
em,
h1,
h2,
html,
img,
li,
main,
nav,
nav a,
ol,
p,
section,
ul,
table,
tr,
td,
footer,
th {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
  /* background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;   */ }

body,
html {
  height: 100%; }

body {
  margin: 0;
  line-height: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* added to prevent horizontal scroll bar */
  /* need to fix this this and not use a hack.  Find the element that is overflowing */
  overflow-x: hidden;
  overflow-y: scroll;
  /* prevents scroll bounce */
  overscroll-behavior: none; }

body::after {
  content: "";
  display: block;
  height: 50px; }

#main_menu.active {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }

.inner_main_menu {
  margin: 0 auto;
  width: 1170px; }

.inner_main_menu ul {
  margin: 0;
  list-style: none;
  text-align: right; }

.inner_main_menu ul li {
  float: none;
  display: inline-block;
  position: relative; }

.inner_main_menu ul li:nth-child(1) {
  float: left; }

.inner_main_menu ul li:nth-child(2) {
  float: left; }

.inner_main_menu ul li:nth-child(3) {
  float: left; }

.inner_main_menu ul li a {
  color: #606060;
  font-family: "tenor sans";
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin: 5px 20px 5px 20px; }

#menu {
  background-color: white;
  font-size: 12px; }

#logo_Claire {
  width: auto;
  height: auto;
  transition: 0.5s;
  margin-top: -5px; }

#main_menu {
  transition: 0.5s;
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: white;
  z-index: 9999;
  padding: 80px 0; }

.logo_area {
  top: 62px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  transition: .5s;
  width: 350px; }

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .slicknav_menu {
    display: block; }
  .inner_main_menu {
    display: none; }
  .logo_area {
    height: auto;
    left: 0;
    margin-left: 0;
    position: relative;
    top: 0;
    width: 130px; }
  .logo_area img {
    height: auto;
    width: 100%; } }

#menu a {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

#menu a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: lightgray;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

#menu a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

#moodboard {
  margin-right: auto;
  margin-left: auto;
  margin-top: 220px;
  max-width: 100%;
  display: block;
  height: auto; }

#just_below_moodboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-content: center;
  text-align: center; }

.and {
  /* font-family: "Playfair Display"; */
  font-size: 1.2em; }

.first_div_below_moodboard {
  position: relative;
  padding-bottom: 20px;
  /* margin: 0 auto; */
  /* text-align: center; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.moodboard_h2 {
  font-family: Quentin;
  color: #363d3c;
  font-size: 3.4em;
  font-style: bold;
  letter-spacing: 1px;
  position: absolute;
  text-align: center;
  /* top: 310px; */
  padding-top: 52px;
  animation-name: block2;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

@keyframes block2 {
  0% {
    top: -600px; }
  100% {
    top: 0px; } }

.craft_code_under_moodboard {
  position: relative;
  animation-name: block3;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

@keyframes block3 {
  from {
    top: 500px; }
  to {
    top: 1px; } }

#just_below_moodboard hr {
  border: .8px solid #d2b96e;
  background: #d2b96e;
  width: 880px;
  margin-top: 104px;
  margin-bottom: 0; }

.crafting {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px; }

#just_below_moodboard p {
  /* font-family: "Ernestine Pro Light";
  font-family: "Montserrat Light"; */
  font-family: "Tenor sans";
  /* color: #363d3c; */
  color: #696969;
  color: #808080;
  color: rgba(0, 0, 0, 0.6);
  /* font-weight: lighter;
  letter-spacing: 2px; */
  /* color: #AC985B; */
  font-size: 1.6em;
  width: 930px;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 0 !important; }

#just_below_moodboard h3 {
  font-family: "Montserrat Light";
  color: #d2b96e;
  font-size: .9em;
  margin-top: 8px;
  padding-bottom: 70px;
  text-align: center;
  letter-spacing: 1px; }

.wrapper {
  display: grid;
  position: relative;
  grid-template-columns: 54% 46%;
  /* justify-content: center; */
  align-content: center;
  height: 970px;
  /* width: 100%; */
  background: url(../images/torn_edge_bkgrd_1000.jpg);
  /* size of background image is 1600 x 1000 px */
  /* background-size: 1600px 970px; */ }

#remote {
  /* margin-left: 220px; */
  float: right;
  width: 650px;
  margin-top: 605px;
  /* margin-right: -140px; */
  height: auto;
  position: relative; }

#img_claire {
  position: absolute;
  top: 96px;
  left: 700px;
  width: 280px;
  padding: 16px;
  border: 3px solid #d2b96e;
  background-color: white; }

#zodiac_leo {
  position: absolute;
  /* width: 400px;
  height: 500px; */
  width: 26%;
  top: -136px;
  left: 100px;
  opacity: 0.3; }

.intro_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 300px !important;
  height: 900px;
  margin-top: 630px;
  margin-left: 54px;
  padding-bottom: 300px;
  float: left; }

div#one {
  /* flex: 1; */
  flex-direction: flex-start; }

img#intro_2_claire {
  width: 170px;
  margin-left: 30px;
  margin-top: -10px;
  margin-bottom: 10px; }

div#one hr {
  width: 80px;
  margin-left: 50px;
  margin-top: 20px;
  border: .8px solid #d2b96e;
  background: #d2b96e;
  margin-bottom: 20px; }

div#one #first_p {
  font-size: 2em;
  margin-left: 34px;
  margin-top: -50px;
  width: 100px;
  font-family: "Tenor Sans"; }

.intro_2 #second_p {
  font-family: Quentin;
  font-size: 2em;
  width: 100px;
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom: 0px; }

div#two {
  flex: 1;
  background-color: transparent;
  /* background-color: #fbf9ee; */
  vertical-align: middle;
  margin-left: 50px; }

div#do_this {
  flex: 1;
  margin-left: 30px;
  margin-top: -20px;
  width: 100px; }

/* div#two p {
  width: 300px !important;
} */
div#three {
  flex: 1;
  width: 300px;
  margin-left: 0px;
  margin-top: 30px; }

div#three a {
  margin-left: 140px;
  margin-top: 0;
  z-index: 1; }

#two > div {
  background-color: transparent;
  width: 370px;
  height: 400px;
  margin-left: -10px; }

div#two p {
  padding-bottom: 14px;
  line-height: 1.7;
  font-size: .90em;
  width: 370px;
  text-align: justify;
  /* font-family: "Montserrat Regular"; */
  font-family: "Ernestine Pro Light";
  /* font-family: 'Lora'; */
  /* font-style: italic; */
  /* font-family: 'Tenor Sans'; */
  color: #363d3c; }

#last_p {
  margin-left: 12px;
  margin-top: -20px;
  text-decoration: none;
  color: black; }

#last_p:hover {
  color: #16c0b7; }

/* .intro_2 > div {
  display: grid;
  background-color: white;
  padding: 30px;
  font-size: .9em;
  align-items: center;
  justify-items: left;
  line-height: 1.5em;
  font-family: "Lora";
  color: rgb(96, 96, 96);

} */
/* div.claire_sig {
  display: block;
  margin-right: 86%;
  margin-left: 14%;
  margin-bottom: 60px;
  margin-top: -20px;
} */
/* #more_about_me>a:hover::before {
  visibility: hidden;
}  */
/* h3#more_about_me:hover {
  background-color: rgb(207, 100, 120);
}  */
/* #more_about_me>a:hover {
  color: rgb(255, 248, 214);
}  */
div#good_fit {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto; }

#stars_zodiac {
  position: absolute;
  width: 390px;
  top: -190px;
  right: 80px;
  opacity: 0.6; }

div#good_fit > div {
  background-color: white;
  width: 300px;
  height: 220px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin-top: -20px; */
  margin-bottom: 60px; }

div#good_fit p {
  line-height: 1.5em;
  font-size: 1em;
  /* font-family: "Montserrat Regular"; */
  /* font-family: 'Tenor Sans'; */
  font-family: 'Ernestine Pro Light';
  border: 4px solid rgba(207, 188, 100, 0.4);
  padding: 30px;
  text-align: center;
  color: #363d3c; }

/* div.good_fit_hide_me p {
  line-height: 1.3em;
  font-size: 1.2em;
  font-family: Tenar Sans;
  margin-top: 30px;
  padding: 30px;
  text-align: center;
  color: #363d3c;
} */
.good_fit_hide_me {
  opacity: 0; }

/* #h2_good_fit > img {
  width: 300px;
  padding-top: 20px;
} */
#img_text_good_fit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 20px;
  width: 100%;
  height: auto; }

#img_text_good_fit h2 {
  font-family: Quentin;
  font-size: 2.2em;
  margin-top: 20px;
  color: #363d3c; }

/* 
#img_text_good_fit img {
  /* font-size: 2.2em;
  font-family: "Smooth Stone"; */
/* margin-top: 36px;
  margin-bottom: 50px;
  width: 340px; 
} */
/* img#good_fit_if {
  width: 300px;
} */
/* #dummy_space {
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
/* align-items: center; */
/* justify-content: center; */
/* justify-content: space-evenly; */
/* background-color: white; */
/* background-image: url("images/starry_night_background.jpg"); */
/* height: 500px;
  width: 100%;
} */
/* Back to top bird styling */
#scroll {
  position: fixed;
  right: -140px;
  bottom: 80px;
  width: 110px;
  height: 110px;
  opacity: 0.7;
  z-index: 999;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }

#scroll:hover {
  opacity: 1;
  cursor: pointer; }

/* ABOUT ME PAGE STYLING */
#about_collage {
  margin-top: 220px;
  max-width: 100%;
  width: 100%;
  height: auto; }

#about_space_below_banner {
  display: flex;
  padding: 0;
  margin-top: -5px;
  flex-direction: column;
  height: 148px;
  justify-content: center;
  align-items: center;
  background-color: #EADFBD;
  background-color: #fbf9ee; }

#about_space_below_banner P {
  flex: 1;
  height: 50px;
  width: 1200px;
  color: black;
  margin-top: 40px;
  margin-bottom: 14px;
  text-align: center;
  font-size: 24px;
  font-family: Lora;
  z-index: 99;
  letter-spacing: 1px; }

img#about_awesome {
  margin-bottom: -14px;
  margin-left: 2px; }

.about_main_top p {
  width: 1000px; }

.about_h2 {
  flex: 1;
  color: #16c0b7;
  font-family: Lora;
  text-align: center;
  margin-bottom: 44px !important;
  font-size: 1.6em; }

.about_main_top {
  align-items: start;
  height: 900px;
  text-align: center; }


.about_main_wrapper {
}

#about_info {
  font-size: .95em;
  /* font-family: "Lora";
  font-family: "Montserrat Regular"; */
  /* font-family: 'Tenor Sans'; */
  font-family: 'Ernestine Pro Light';
  line-height: 1.6em;
  color: #363d3c;
  /* width: 1000px; */
  margin-top: 120px;
  display: inline-block;
  z-index: 1; }

.first_p_about_info {
  font-family: Quentin;
  font-size: 2.7em;
  padding-bottom: 22px;
  margin-top: -12px;
  text-align: left; }

.shorter_p_about_info {
  margin-bottom: 15px;
  /* width: 899px; */
  text-align: justify; }

p.wider_p_about_info {
  /* width: 1000px; */
  text-align: justify;
  margin-bottom: 15px; }

.second_to_last_p_about_info {
  /* width: 899px; */
  text-align: justify;
  margin-bottom: 15px; }

#about_claire_img_2 {
  float: right;
  padding-left: 30px;
  margin-top: 36px;
  padding-bottom: 12px; }

#mini_heart {
  margin-bottom: -8px;
  width: 20px; }

#underline_shine {
  margin-bottom: -10px;
  margin-left: -54px;
  width: 50px; }

.claire_sig {
  float: right;
  font-family: Quentin;
  font-size: 2.5em;
  margin-right: -140px;
  margin-top: 22px; }

#sig_line {
  margin-top: 8px;
  width: 150px;
  margin-left: 15px; }

#the_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e9e0b8;
  background-color: white;
  height: 340px;
  /* margin-top: 140px; */
  padding-top: 160px;
  width: 100%; }

#the_one > h2 {
  height: 40px;
  width: 600px;
  text-align: center;
  font-size: 1.7em;
  font-family: Lora;
  color: #363d3c;
  letter-spacing: 1px;
  padding-bottom: 6px; }

#the_one > p {
  font-family: Quentin;
  font-size: 3em;
  padding-top: 10px;
  padding-bottom: 10px; }

img#lets_do_this {
  width: 280px; }

#about_me_contact {
  display: flex;
  justify-content: center;
  align-items: center; }

/* #about_me_contact input[type=button]  */
.button_about_claire {
  text-decoration: none;
  cursor: pointer;
  padding: 8px 30px !important;
  text-align: center;
  background: #d2b962 !important;
  color: white !important;
  border: 2px double #d2b962;
  transition: 0.3s !important;
  margin: 20px auto !important;
  font-family: 'Ernestine Pro Light';
  font-size: 1.2em; }

.button_about_claire:hover {
  /* border: 2px solid rgb(210, 198, 98); */
  /* background-color: white !important; */
  /* color: black !important; */
  color: #16c0b7 !important;
  /* color: white !important; */
  /* background: white ! important; */
  background: white !important;
  /* background: #16c0b7 !important; */
  /* #16c0b7! */
  border: 2px solid #d2b962;
  /* border: 2px solid #16c0b7; */ }

.button_about_claire a {
  text-decoration: none !important; }

/* #about_me_contact input[type=button]:hover {
  /* background: rgba(8, 146, 165, 0.3) !important; */
/* background: white !important; */
/* color: #066B79 !important; */
/* color: #0892A5 ! important;
  color: #50c9ba;
  border: 2px solid #50c9ba; 
} */
#base_container_fun_facts {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  background-color: white; }

hr.about_me_above_fun_facts {
  border: 1px solid #d2b96e;
  background: #d2b96e;
  width: 1100px; }

#fun_facts {
  position: relative;
  display: flex;
  align-items: center;
  height: 360px;
  width: 1000px;
  background-color: #e9e0b8;
  background-color: rgba(233, 224, 184, 0.4);
  /* margin: 70px auto 100px; */ }

img#frida {
  width: 350px;
  border: 10px solid white;
  margin-left: 60px; }

/* Slideshow container */
.slideshow-container {
  position: absolute;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  right: 35px;
  background: rgba(255, 255, 255, 0.8);
  /* background: transparent; */
  width: 50%;
  height: 300px; }

#fun_facts h3 {
  font-family: Lora;
  font-size: .8em;
  z-index: 99;
  color: #d2b962;
  letter-spacing: 1px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10px; }

/* Slides */
.mySlides {
  position: relative;
  display: none;
  text-align: center; }

.mySlides > p {
  /* margin: auto; */
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 375px !important;
  margin-top: auto;
  font-family: 'Ernestine Pro Light';
  font-size: .85em;
  font-style: italic;
  line-height: 1.5;
  color: #606060; }

.mySlides a:hover:before {
  background: none;
  visibility: hidden; }

.mySlides span {
  width: 40px; }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 10px 16px 10px 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none; }

.prev:hover:before {
  background: none;
  visibility: hidden; }

.next:hover:before {
  background: none;
  visibility: hidden; }

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(210, 185, 98, 0.6);
  color: white; }




/* Styling Contact page */
#contact_collage {
  margin-top: 220px;
  max-width: 100%;
  width: 100%;
  height: auto;
  /* WHY DO I HAVE TO INCLUDE THIS TO MAKE IT MATCH THE OTHERS!!!! */ }

#contact_space_below_banner {
  display: flex;
  padding: 0;
  margin-top: -5px;
  flex-direction: column;
  height: 148px;
  justify-content: center;
  align-items: center;
  background-color: #EADFBD;
  background-color: #fbf9ee; }

#contact_space_below_banner P {
  flex: 1;
  height: 50px;
  width: 1200px;
  margin-top: 34px;
  text-align: center;
  font-size: 24px;
  font-family: Lora;
  z-index: 99;
  color: black;
  letter-spacing: 1px; }

img#contact_shine {
  margin-top: -30px;
  margin-left: -40px; }

#white_box > h2 {
  flex: 1;
  color: white;
  color: #16c0b7;
  /* color: #0892A5; */
  font-family: Lora;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 1.5em; }

#contact_container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;
  margin-bottom: 150px; }

.contact_form {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  justify-content: center;
  align-items: center; }

form#contact_us {
  width: 700px;
  font-size: .85em;
  background-color: transparent;
  padding: 20px;
  margin-top: 30px; }

#email_me {
  width: 100%;
  height: 100px;
  margin-bottom: 90px; }

#email_me > p {
  flex: 1;
  /* font-family: Lora; */
  /* font-family: 'Tenor Sans'; */
  font-family: 'Ernestine Pro Light';
  letter-spacing: 1px;
  text-align: center;
  font-size: .8em;
  color: #606060; }

input[type=text],
select,
textarea {
  width: 320px;
  border: 1px solid #ccc;
  font-family: Lora;
  margin-bottom: 20px;
  margin-top: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 6px;
  background-color: rgba(224, 224, 224, 0.3); }

.group,
.custom-select {
  /* display: inline-block; */
  float: right;
  margin-right: 10px;
  margin-left: 10px; }

#contact_us label {
  display: block;
  /* font-family: Lora; */
  /* font-family: Raleway; */
  /* font-family: 'Tenor Sans'; */
  font-family: 'Ernestine Pro Light';
  letter-spacing: 1px; }

/* #phoneBox {
  width: 320px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 4px;
  padding-top: 8px;
  padding-left: 6px;
  padding-bottom: 8px;
  background-color: rgba(224, 224, 224, 0.3);
} */
#date {
  width: 320px;
  height: 15px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 4px;
  padding-top: 8px;
  padding-left: 6px;
  padding-bottom: 8px;
  background-color: rgba(224, 224, 224, 0.3); }

#tell_me_biz {
  width: 671px;
  max-width: 671px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding-top: 8px;
  padding-left: 6px; }

#message {
  width: 671px;
  max-width: 671px;
  border: 1px solid #ccc;
  line-height: 1.6em;
  font-family: Lora;
  font-size: 1em;
  padding-top: 8px;
  padding-left: 6px; }

::placeholder {
  color: #AC985B; }

.custom-select {
  width: 330px;
  height: 57px;
  padding: 0; }

.custom-select select {
  height: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 2px;
  padding-left: 2px;
  color: #AC985B; }

.other {
  color: #363d3c; }

.contact_img {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin: auto;
  justify-content: flex-start;
  align-items: center; }

/* SUBMIT BUTTON ON CONTACT PAGE */
div#submit_contact {
  text-align: center;
  align-items: center;
  justify-content: center;
  background: transparent; 
}

#submit_contact input[type=button] {
  text-decoration: none;
  cursor: pointer;
  /* padding: 12px 30px !important; */
  /* background: rgb(69, 69, 69) !important; */
  /* border: 2px solid rgb(69, 69, 69); */
  transition: 0.3s !important;
  /* font-family: 'Tenor Sans'; */
  /* font-family: 'Ernestine Pro Light'; */
  font-family: Quentin;
  color: black;
  color: #16c0b7;
  letter-spacing: -.009px;
  text-transform: none;
  font-size: 2.6em;
  padding: 10px 0 0 0;
  margin: -10px 10px 0 0;
  float: right; }

#submit_contact input[type=button]:hover {
  background: white !important;
  color: rgba(69, 69, 69, 0.7) !important;
  font-size: 3em; }


/* input[type=submit] {
  color: white;
  margin-left: 0 !important;
  padding: 20px 40px !important;
  font-size: 1.4em !important;
  background-color: black;
  border: none;
  cursor: pointer;
} */
/* input[type=submit]:hover {
  background-color: rgb(88, 183, 229);
} */
/* Styling Portfolio Page */
#portfolio_collage {
  margin-top: 220px;
  max-width: 100%;
  width: 100%;
  /* height:auto; */ }

#portfolio_space_below_banner {
  display: flex;
  padding: 0;
  margin-top: -5px;
  flex-direction: column;
  height: 148px;
  justify-content: center;
  align-items: center;
  /* background-color: #E3D888;  */
  /* background-color: #D8C99B;  */
  background-color: #EADFBD;
  background-color: #fbf9ee; }

#portfolio_space_below_banner p {
  flex: 1;
  height: 50px;
  width: 1200px;
  margin-top: 33px;
  /* margin-bottom: 14px; */
  text-align: center;
  font-size: 24px;
  font-family: Lora;
  z-index: 99;
  color: black;
  letter-spacing: 1px; }

#portfolio_stuff_here {
  height: 800px;
  width: 100%;
  background-color: white; }

#white_box > h2 {
  flex: 1;
  color: white;
  color: #16c0b7;
  /* color: #0892A5; */
  font-family: Lora;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 1.5em; }

/* Styling Services Page */
#service_dummy_space > div {
  height: 1000px; }

#service_collage {
  margin-top: 220px;
  max-width: 100%;
  width: 100%;
  height: auto; }

#services_space_below_banner {
  display: flex;
  padding: 0;
  margin-top: -5px;
  flex-direction: column;
  height: 148px;
  justify-content: center;
  align-items: center;
  background-color: #EADFBD;
  background-color: #fbf9ee; }

#services_space_below_banner p {
  flex: 1;
  height: 50px;
  width: 1200px;
  margin-top: 18px;
  text-align: center;
  font-size: 24px;
  font-family: Lora;
  z-index: 99;
  color: black;
  letter-spacing: 1px; }

img#gold_star {
  margin-bottom: -10px; }

#white_box > h2 {
  flex: 1;
  color: white;
  color: #16c0b7;
  /* color: #0892A5; */
  font-family: Lora;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 1.5em; }

#services_stuff_here {
  height: 800px;
  width: 100%;
  background-color: white; }

/* Styling Blog Page */
#blog_collage {
  margin-top: 220px;
  max-width: 100%;
  width: 100%;
  height: auto; }

#blog_space_below_banner {
  display: flex;
  padding: 0;
  margin-top: -5px;
  flex-direction: column;
  height: 148px;
  justify-content: center;
  align-items: center;
  background-color: #e9e0b8;
  background-color: #fbf9ee; }

#blog_space_below_banner p {
  flex: 1;
  height: 50px;
  width: 1200px;
  color: black;
  margin-top: 40px;
  margin-bottom: 14px;
  text-align: center;
  font-size: 24px;
  font-family: Lora;
  z-index: 99;
  letter-spacing: 1px; }

.blog_h2 {
  flex: 1;
  color: #16c0b7;
  font-family: Lora;
  text-align: center;
  margin-bottom: 44px !important;
  font-size: 1.6em; }

#blog_stuff_here {
  height: 800px;
  width: 100%;
  background-color: white; }

/* STYLING FOOTER */
#footer_leftside {
  position: absolute;
  margin-left: 100px;
  margin-top: 170px; }

#creative_solution_leftside_footer {
  font-family: "Emma Signature";
  font-family: "Quentin";
  font-size: 1.7em; }

/* #hand_holding_stars {
  width: 160px;
  margin-top: 70px;
  margin-bottom: 0;
  opacity: 0.6;
} */
/* #footer_info {
  width: 100%; 
  text-align: center;
  height: 350px;
  position: relative;

} */
/* #footer_beneath_hands { */
/* font-family: "Tenor Sans";
  font-size: 2.5em;
  color: rgb(69,69,69); 
  

} /*

/* #footer_beneath_signature {
  font-family: "Tenor sans";
  font-size: 1.1em;
  
} */
/* #footer_beneath_signature_2 {
  font-family: Quentin;
  font-size: 2em;
  margin-top: -20px;
} */
/* #sig_footer_img {
  text-align: center;
  width: 220px;
  margin-top: 10px;
  float: left;
} */
footer {
  width: 100%;
  /* position: relative; */
  height: 400px; }

#footer_bottom {
  background: url(../images/torn_edge_bkgrd_1000.jpg);
  position: relative;
  height: 400px;
  width: 100%; }

#footer_content {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  flex-wrap: nowrap;
  height: 40px;
  width: 100%;
  justify-content: space-around; }

#footer_left {
  float: left;
  width: 300px; }

#footer_right {
  float: right;
  width: 300px; }

#footer_middle {
  display: inline-block;
  /* margin:0 auto; */
  width: 300px; }

#footer_logo {
  width: auto;
  margin: 0 auto; }

#logo_in_footer {
  width: 200px;
  margin-top: -14px; }

/* #footer hr {
  border: .1px solid #d2b96e;
  background: #d2b96e;
  width: 660px;
  margin-bottom: 20px;

} */
#footer a:link {
  color: #636363;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px; }

#footer a:visited {
  color: #636363; }

#footer a:hover {
  text-decoration: none;
  color: black; }

#footer a:active {
  color: #fff; }

/* More About Me underline effect */
*,
*::before,
*:after {
  box-sizing: inherit; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-size: 0.7rem;
  font-family: Lora;
  position: relative;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
  color: #d2b96e;
  display: inline-flex;
  margin-left: 340px;
  margin-top: 14px;
  /* margin: 0;
  margin-left: 600px; */
  padding: 0.875em 1.428571429em;
  letter-spacing: 0.2em; }

.button span,
button span,
input[type="submit"] span,
input[type="reset"] span,
input[type="button"] span {
  display: block;
  position: absolute;
  transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  width: 100%;
  top: 0;
  left: 0; }

.button span:first-child,
button span:first-child,
input[type="submit"] span:first-child,
input[type="reset"] span:first-child,
input[type="button"] span:first-child {
  height: 100%; }

.button span::before,
.button span::after,
button span::before,
button span::after,
input[type="submit"] span::before,
input[type="submit"] span::after,
input[type="reset"] span::before,
input[type="reset"] span::after,
input[type="button"] span::before,
input[type="button"] span::after {
  content: "";
  display: block;
  position: absolute;
  /* background: #DAA25A; */
  /* background: rgb(207, 188, 100); */
  background: white;
  transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9); }

.button span:first-child::before,
.button span:first-child::after,
button span:first-child::before,
button span:first-child::after,
input[type="submit"] span:first-child::before,
input[type="submit"] span:first-child::after,
input[type="reset"] span:first-child::before,
input[type="reset"] span:first-child::after,
input[type="button"] span:first-child::before,
input[type="button"] span:first-child::after {
  width: 1.5px;
  /* ** */
  height: 100%;
  bottom: 0;
  transform: scale3d(1, 0, 1);
  transform-origin: bottom center;
  transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s; }

.button span:first-child::before,
button span:first-child::before,
input[type="submit"] span:first-child::before,
input[type="reset"] span:first-child::before,
input[type="button"] span:first-child::before {
  left: 0; }

.button span:first-child::after,
button span:first-child::after,
input[type="submit"] span:first-child::after,
input[type="reset"] span:first-child::after,
input[type="button"] span:first-child::after {
  right: 0; }

.button span:last-child,
button span:last-child,
input[type="submit"] span:last-child,
input[type="reset"] span:last-child,
input[type="button"] span:last-child {
  width: 100%;
  height: 1px; }

.button span:last-child::before,
.button span:last-child::after,
button span:last-child::before,
button span:last-child::after,
input[type="submit"] span:last-child::before,
input[type="submit"] span:last-child::after,
input[type="reset"] span:last-child::before,
input[type="reset"] span:last-child::after,
input[type="button"] span:last-child::before,
input[type="button"] span:last-child::after {
  height: 1px;
  width: 100%;
  bottom: 0;
  transform: scale3d(0, 1, 1);
  transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s; }

.button span:last-child::before,
button span:last-child::before,
input[type="submit"] span:last-child::before,
input[type="reset"] span:last-child::before,
input[type="button"] span:last-child::before {
  left: 0;
  transform-origin: bottom left; }

.button span:last-child::after,
button span:last-child::after,
input[type="submit"] span:last-child::after,
input[type="reset"] span:last-child::after,
input[type="button"] span:last-child::after {
  right: 0;
  transform-origin: bottom right; }

.button::after,
button::after,
input[type="submit"]::after,
input[type="reset"]::after,
input[type="button"]::after {
  content: "";
  width: 80%;
  left: 50%;
  height: 1.5px;
  /* ** */
  bottom: 0;
  transform: translatex(-50%);
  transition: width 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.4s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
  display: block;
  position: absolute;
  background: white; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  opacity: 1;
  outline: 0;
  color: black !important;
  text-decoration: none;
  transition: color 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s; }

.button:hover span:first-child::before,
.button:hover span:first-child::after,
button:hover span:first-child::before,
button:hover span:first-child::after,
input[type="submit"]:hover span:first-child::before,
input[type="submit"]:hover span:first-child::after,
input[type="reset"]:hover span:first-child::before,
input[type="reset"]:hover span:first-child::after,
input[type="button"]:hover span:first-child::before,
input[type="button"]:hover span:first-child::after {
  transform: scale3d(1, 1, 1);
  background: #d2b96e !important;
  transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s; }

.button:hover span:first-child::before,
.button:hover span:first-child::after,
button:hover span:first-child::before,
button:hover span:first-child::after,
input[type="submit"]:hover span:first-child::before,
input[type="submit"]:hover span:first-child::after,
input[type="reset"]:hover span:first-child::before,
input[type="reset"]:hover span:first-child::after,
input[type="button"]:hover span:first-child::before,
input[type="button"]:hover span:first-child::after {
  transform: scale3d(1, 1, 1);
  background: #d2b96e !important;
  transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s; }

.button:hover span:last-child::before,
.button:hover span:last-child::after,
button:hover span:last-child::before,
button:hover span:last-child::after,
input[type="submit"]:hover span:last-child::before,
input[type="submit"]:hover span:last-child::after,
input[type="reset"]:hover span:last-child::before,
input[type="reset"]:hover span:last-child::after,
input[type="button"]:hover span:last-child::before,
input[type="button"]:hover span:last-child::after {
  transform: scale3d(1, 1, 1);
  background: #d2b96e !important;
  transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.4s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s; }

.button:hover span:last-child::before,
.button:hover span:last-child::after,
button:hover span:last-child::before,
button:hover span:last-child::after,
input[type="submit"]:hover span:last-child::before,
input[type="submit"]:hover span:last-child::after,
input[type="reset"]:hover span:last-child::before,
input[type="reset"]:hover span:last-child::after,
input[type="button"]:hover span:last-child::before,
input[type="button"]:hover span:last-child::after {
  transform: scale3d(1, 1, 1);
  background: #d2b96e !important;
  transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.4s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s; }

.button:hover::after,
button:hover::after,
input[type="submit"]:hover::after,
input[type="reset"]:hover::after,
input[type="button"]:hover::after {
  width: 100%;
  background: #d2b96e !important;
  transition: width 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s, background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s; }
