// _layouts.scss by Claire Crawford

/* Layout rules divide the page into sections. Layouts hold one or more modules together. */

.portfolioCard {
    @extend .card;
    @extend .mb-4;
    @extend .shadow-sm;
    @extend .mr-5;
    img {
        @include media-breakpoint-up(xs) {max-width: 90vw;}
        @include media-breakpoint-up(sm) {max-width: 90vw;}
        @include media-breakpoint-up(md) {max-width: 45vw;}
        @include media-breakpoint-up(lg) {max-width: 18vw;}
        @include media-breakpoint-up(xl) {max-width: 18vw;}
    }
}