
// _colors.scss by Claire Crawford 

/* Define the colors used. */
$clrGray:#606060;
$clrHover:black;

// Shades of gold for font
// $myClrHover: #AF8465;
// $myClrHover: #9c853e;
// $myClrHover: #d2b96d;

$clrBkgdMoodboard: #d2b96e;
$clrMoodBorder: #d2b96e;