// 'themes/_fonts.scss

/* Theme Fonts */

@import "../vendor/MyFontsWebfontsKit/MyFontsWebfontsKit.css";
@import "../vendor/hellopretty_elements/stylesheet.css";
@import "../vendor/hellopretty_regular_macroman/stylesheet.css";

/* Bootstrap Overrides */
// stylelint-disable value-keyword-case
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace !default;

$font-family-base: $font-family-sans-serif !default;
//$headings-font-family: null !default;
//$input-btn-font-family: null !default;
$headings-font-family: "SaturdayScript" !default;
$input-btn-font-family: "SaturdayScriptOblique" !default;
$btn-font-family: $input-btn-font-family !default;
$input-font-family: $input-btn-font-family !default;
$custom-file-font-family: $input-font-family !default;

// stylelint-enable value-keyword-case
