// layout/_aside.scss by Claire Crawford

body {
    aside {
        @extend .container-fluid;
        padding: 0;

        img {
            @extend .img-fluid;
            margin-top: 230px;
            width: 100vw;
            height: auto;
        }

        h2 {
            font-family: Quentin;
            color: #363d3c;

            @include media-breakpoint-only(xs) {
                font-size: 1rem;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            @include media-breakpoint-only(sm) {
                font-size: 1.6rem;
            }

            @include media-breakpoint-only(md) {
                font-size: 2.5rem;
            }

            @include media-breakpoint-only(lg) {
                font-size: 3rem;
            }

            @include media-breakpoint-only(xl) {
                font-size: 3.4rem;
            }

            // font-style: bold;
            font-weight: bold;
            letter-spacing: 1px;
            position: absolute;
            text-align: center;
            padding-top: 20px;
            animation-name: block2;
            animation-duration: 2s;
            animation-fill-mode: forwards;

            @keyframes block2 {
                0% {
                    top: -150vh;
                }

                100% {
                    top: 0px;
                }
            }
        }

        div {
            display: flex;
            flex-direction: column;
            width: 100%;
            // height: auto;
            justify-content: center;
            align-content: center;
            text-align: center;

            &:first-child {
                position: relative;
                width: 100%;
                padding-bottom: .5vh;
                display: flex;
                align-items: center;
                justify-content: center;

                hr {
                    border: .8px solid $clrMoodBorder;
                    background: $clrBkgdMoodboard;
                    width: 56rem;
                    @include media-breakpoint-only(xs) {
                        width: 18rem;
                        margin-top: 32px;
                    }
        
                    @include media-breakpoint-only(sm) {
                        width: 34rem;
                        margin-top: 74px;
                    }
        
                    @include media-breakpoint-only(md) {
                        width: 42rem;
                        margin-top: 86px;
                    }
        
                    @include media-breakpoint-only(lg) {
                        width: 52rem;
                        margin-top: 94px;
                    }
                    @include media-breakpoint-only(xl) {
                        width: 56rem;
                        margin-top: 104px;
                    }
                    margin-bottom: 0;
                }
            }

            &:last-child {
                position: relative;
                animation-name: block3;
                animation-duration: 2s;
                animation-fill-mode: forwards;

                @keyframes block3 {
                    from {
                        top: 500px;
                    }

                    to {
                        top: 1px;
                    }
                }

                div {
                    &:first-child {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 0px;
                    }
                }
            }

            p {
                /* font-family: "Ernestine Pro Light";
                font-family: "Montserrat Light"; */
                font-family: "Tenor sans";
                /* color: #363d3c; */
                color: #696969;
                color: #808080;
                color: rgba(0, 0, 0, .6);
                /* font-weight: lighter;
                letter-spacing: 2px; */
                /* color: #AC985B; */
                font-size: 1.6em;
                @include media-breakpoint-only(xs) {
                    font-size: .5rem;
                    width: 20rem;
                }
    
                @include media-breakpoint-only(sm) {
                    font-size: 1rem;
                    width: 36rem;
                }
    
                @include media-breakpoint-only(md) {
                    font-size: 1.2rem;
                    width: 45rem;
                }
    
                @include media-breakpoint-only(lg) {
                    font-size: 1.5rem;
                    width: 56rem;
                }
    
                @include media-breakpoint-only(xl) {
                    font-size: 1.6rem;
                    width: 60rem;
                }

                text-align: center;
                line-height: 1.2;
                margin-bottom: 0 !important;
            }

            h3 {
                font-family: "Montserrat Light";
                color: #d2b96e;
                @include media-breakpoint-only(xs) {
                    font-size: .1rem;
                }
    
                @include media-breakpoint-only(sm) {
                    font-size: 1rem;
                }
    
                @include media-breakpoint-only(md) {
                    font-size: 1.2rem;
                    width: 42rem;
                }
    
                @include media-breakpoint-only(lg) {
                    font-size: 1.5rem;
                    width: 54rem;
                }
    
                @include media-breakpoint-only(xl) {
                    font-size: 1.6rem;
                    width: 60rem;
                }


                // margin-top: 0px;
                padding-bottom: 70px;
                text-align: center;
                letter-spacing: .1rem;
            }

        }
    }
}